In [0]:
import pandas as pd

In [0]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-TensorFlow-Workshop/master/Chapter06/dataset/connect-4.csv'

In [0]:
data = pd.read_csv(file_url)
data.head()

   a1  a2  a3  a4  a5  a6  b1  b2  b3  ...  f5  f6  g1  g2  g3  g4  g5  g6  class
0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0      2
1   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0      2
2   0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0   0   0      2
3   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0      2
4   1   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0      2

[5 rows x 43 columns]

In [0]:
target = data.pop('class')

In [0]:
import tensorflow as tf
from tensorflow.keras.layers import Dense, Dropout

In [0]:
tf.random.set_seed(8)

In [0]:
model = tf.keras.Sequential()

In [0]:
fc1 = Dense(512, input_shape=(42,), activation='relu')

In [0]:
fc2 = Dense(512, activation='relu')
fc3 = Dense(128, activation='relu')
fc4 = Dense(128, activation='relu')

In [0]:
fc5 = Dense(3, activation='softmax')

In [0]:
model.add(fc1)
model.add(Dropout(0.75))
model.add(fc2)
model.add(Dropout(0.75))
model.add(fc3)
model.add(Dropout(0.75))
model.add(fc4)
model.add(Dropout(0.75))
model.add(fc5)

In [0]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_40 (Dense)             (None, 512)               22016
_________________________________________________________________
dropout_26 (Dropout)         (None, 512)               0
_________________________________________________________________
dense_41 (Dense)             (None, 512)               262656
_________________________________________________________________
dropout_27 (Dropout)         (None, 512)               0
_________________________________________________________________
dense_42 (Dense)             (None, 128)               65664
_________________________________________________________________
dropout_28 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_43 (Dense)             (None, 128)               16512
_________________________________________________________________
dropout_29 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_44 (Dense)             (None, 3)                 387
=================================================================
Total params: 367,235
Trainable params: 367,235
Non-trainable params: 0
_________________________________________________________________

In [0]:
loss = tf.keras.losses.SparseCategoricalCrossentropy()

In [0]:
optimizer = tf.keras.optimizers.Adam(0.001)

In [0]:
model.compile(optimizer=optimizer, loss=loss, metrics=['accuracy'])

In [0]:
model.fit(data, target, epochs=5, validation_split=0.2)

Epoch 1/5
1689/1689 [==============================] - 12s 7ms/step - loss: 0.8602 - accuracy: 0.6669 - val_loss: 0.9384 - val_accuracy: 0.5796
Epoch 2/5
1689/1689 [==============================] - 12s 7ms/step - loss: 0.8080 - accuracy: 0.6779 - val_loss: 0.9371 - val_accuracy: 0.5796
Epoch 3/5
1689/1689 [==============================] - 12s 7ms/step - loss: 0.7795 - accuracy: 0.6780 - val_loss: 0.9372 - val_accuracy: 0.5796
Epoch 4/5
1689/1689 [==============================] - 12s 7ms/step - loss: 0.7542 - accuracy: 0.6788 - val_loss: 0.9314 - val_accuracy: 0.5796
Epoch 5/5
1689/1689 [==============================] - 12s 7ms/step - loss: 0.7389 - accuracy: 0.6848 - val_loss: 0.9252 - val_accuracy: 0.5796