# Exercise 3.04

Exercise to be completed on https://colab.research.google.com/

In [2]:
import tensorflow as tf
print('TF version:', tf.__version__)

TF version: 2.2.0

In [3]:
tf.test.gpu_device_name()

'/device:GPU:0'

In [5]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-TensorFlow-Workshop/master/Chapter03/Datasets/Bias_correction_ucl.csv')

In [6]:
df.head()

   station        Date  Present_Tmax  ...  Solar radiation  Next_Tmax  Next_Tmin
0      1.0  2013-06-30          28.7  ...      5992.895996       29.1       21.2
1      2.0  2013-06-30          31.9  ...      5869.312500       30.5       22.5
2      3.0  2013-06-30          31.6  ...      5863.555664       31.1       23.9
3      4.0  2013-06-30          32.0  ...      5856.964844       31.7       24.3
4      5.0  2013-06-30          31.4  ...      5859.552246       31.2       22.5

[5 rows x 25 columns]

In [12]:
df.drop('Date', axis=1, inplace=True)

In [16]:
import numpy as np
df = np.asarray(df).astype(np.float32)
random_tensor = tf.random.normal((df.shape[1],1))

In [17]:
tf.matmul(df, random_tensor)

<tf.Tensor: shape=(7752, 1), dtype=float32, numpy=
array([[3153.4263],
       [3013.739 ],
       [3017.1052],
       ...,
       [2335.7568],
       [      nan],
       [      nan]], dtype=float32)>