In [0]:
import pandas as pd

In [0]:
usecols = ['AAGE','ADTIND','ADTOCC','SEOTR','WKSWORK', 'PTOTVAL']

In [0]:
train_url = 'https://github.com/PacktWorkshops/The-TensorFlow-Workshop/blob/master/Chapter06/dataset/census-income-train.csv?raw=true'

In [0]:
train_data = pd.read_csv(train_url, usecols=usecols)
train_data.head()

   AAGE  ADTIND  ADTOCC  SEOTR  WKSWORK  PTOTVAL
0    73       0       0      0        0  1700.09
1    58       4      34      0       52  1053.55
2    18       0       0      0        0   991.95
3     9       0       0      0        0  1758.14
4    10       0       0      0        0  1069.16

In [0]:
train_target = train_data.pop('PTOTVAL')

In [0]:
test_url = 'https://github.com/PacktWorkshops/The-TensorFlow-Workshop/blob/master/Chapter06/dataset/census-income-test.csv?raw=true'

In [0]:
test_data = pd.read_csv(test_url, usecols=usecols)
test_data.head()

   AAGE  ADTIND  ADTOCC  SEOTR  WKSWORK  PTOTVAL
0    38       6      36      0       12  1032.38
1    44      37      12      0       26  1462.33
2     2       0       0      0        0  1601.75
3    35      29       3      2       52  1866.88
4    49       4      34      0       50  1394.54

In [0]:
test_target = test_data.pop('PTOTVAL')

In [0]:
import tensorflow as tf
from tensorflow.keras.layers import Dense

In [0]:
tf.random.set_seed(8)

In [0]:
model = tf.keras.Sequential()

In [0]:
fc1 = Dense(1048, input_shape=(5,), activation='relu')

In [0]:
fc2 = Dense(512, activation='relu')
fc3 = Dense(128, activation='relu')
fc4 = Dense(64, activation='relu')

In [0]:
fc5 = Dense(1)

In [0]:
model.add(fc1)
model.add(fc2)
model.add(fc3)
model.add(fc4)
model.add(fc5)

In [0]:
model.summary()

Model: "sequential_22"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_112 (Dense)            (None, 1048)              6288
_________________________________________________________________
dense_113 (Dense)            (None, 512)               537088
_________________________________________________________________
dense_114 (Dense)            (None, 128)               65664
_________________________________________________________________
dense_115 (Dense)            (None, 64)                8256
_________________________________________________________________
dense_116 (Dense)            (None, 1)                 65
=================================================================
Total params: 617,361
Trainable params: 617,361
Non-trainable params: 0
_________________________________________________________________

In [0]:
optimizer = tf.keras.optimizers.Adam(0.05)

In [0]:
model.compile(optimizer=optimizer, loss='mse', metrics=['mse'])

In [0]:
model.fit(train_data, train_target, epochs=5, validation_split=0.2)

Epoch 1/5
4989/4989 [==============================] - 37s 7ms/step - loss: 1074842.6250 - mse: 1074842.6250 - val_loss: 963379.5000 - val_mse: 963379.5000
Epoch 2/5
4989/4989 [==============================] - 37s 7ms/step - loss: 1007203.2500 - mse: 1007203.2500 - val_loss: 960593.1250 - val_mse: 960593.1250
Epoch 3/5
4989/4989 [==============================] - 38s 8ms/step - loss: 1006884.9375 - mse: 1006884.9375 - val_loss: 969908.8750 - val_mse: 969908.8750
Epoch 4/5
4989/4989 [==============================] - 38s 8ms/step - loss: 1006528.1875 - mse: 1006528.1875 - val_loss: 958780.3750 - val_mse: 958780.3750
Epoch 5/5
4989/4989 [==============================] - 37s 7ms/step - loss: 1005740.5625 - mse: 1005740.5625 - val_loss: 1070237.0000 - val_mse: 1070237.0000

In [0]:
reg_fc1 = Dense(1048, input_shape=(5,), activation='relu', kernel_regularizer=tf.keras.regularizers.l1_l2(l1=0.001, l2=0.001))
reg_fc2 = Dense(512, activation='relu', kernel_regularizer=tf.keras.regularizers.l1_l2(l1=0.001, l2=0.001))
reg_fc3 = Dense(128, activation='relu', kernel_regularizer=tf.keras.regularizers.l1_l2(l1=0.001, l2=0.001))
reg_fc4 = Dense(64, activation='relu', kernel_regularizer=tf.keras.regularizers.l1_l2(l1=0.001, l2=0.001))
reg_fc5 = Dense(1, activation='relu')

In [0]:
model2 = tf.keras.Sequential()
model2.add(reg_fc1)
model2.add(reg_fc2)
model2.add(reg_fc3)
model2.add(reg_fc4)
model2.add(reg_fc5)

In [0]:
model2.summary()

Model: "sequential_28"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_132 (Dense)            (None, 1048)              6288
_________________________________________________________________
dense_133 (Dense)            (None, 512)               537088
_________________________________________________________________
dense_134 (Dense)            (None, 128)               65664
_________________________________________________________________
dense_135 (Dense)            (None, 64)                8256
_________________________________________________________________
dense_136 (Dense)            (None, 1)                 65
=================================================================
Total params: 617,361
Trainable params: 617,361
Non-trainable params: 0
_________________________________________________________________

In [0]:
optimizer = tf.keras.optimizers.Adam(0.1)

In [0]:
model2.compile(optimizer=optimizer, loss='mse', metrics=['mse'])

In [0]:
model2.fit(train_data, train_target, epochs=5, validation_split=0.2)

Epoch 1/5
4989/4989 [==============================] - 58s 12ms/step - loss: 8956351.0000 - mse: 8956092.0000 - val_loss: 3970206.0000 - val_mse: 3969996.2500
Epoch 2/5
4989/4989 [==============================] - 57s 11ms/step - loss: 4028325.0000 - mse: 4028123.2500 - val_loss: 3970193.7500 - val_mse: 3969996.2500
Epoch 3/5
4989/4989 [==============================] - 53s 11ms/step - loss: 4028306.0000 - mse: 4028129.5000 - val_loss: 3970167.2500 - val_mse: 3969996.2500
Epoch 4/5
4989/4989 [==============================] - 54s 11ms/step - loss: 4028262.5000 - mse: 4028119.5000 - val_loss: 3970107.0000 - val_mse: 3969996.2500
Epoch 5/5
4989/4989 [==============================] - 54s 11ms/step - loss: 4028182.5000 - mse: 4028115.5000 - val_loss: 3970020.7500 - val_mse: 3969996.2500